<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc1_borw_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_borw_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_borw_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_borw_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_borw_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_borw_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_say_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
            <key>npc1_stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{62,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,91}}</string>
                <key>sourceSize</key>
                <string>{62,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>npc1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0f6b90a33f8329416309c27f463bdec$</string>
            <key>textureFileName</key>
            <string>npc1.png</string>
        </dict>
    </dict>
</plist>
