<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pirateAttack3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,680},{105,131}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,11},{105,131}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,886},{111,129}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,13},{111,129}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,723},{173,147}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,14},{173,147}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,452},{173,141}}</string>
                <key>offset</key>
                <string>{39,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,17},{173,141}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,542},{179,163}}</string>
                <key>offset</key>
                <string>{42,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,0},{179,163}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,542},{179,161}}</string>
                <key>offset</key>
                <string>{43,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,2},{179,161}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,707},{175,157}}</string>
                <key>offset</key>
                <string>{42,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,4},{175,157}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,627},{169,143}}</string>
                <key>offset</key>
                <string>{39,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,10},{169,143}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,798},{143,149}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,16},{143,149}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,143},{319,143}}</string>
                <key>offset</key>
                <string>{-62,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{319,143}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{357,139}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{357,139}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,323},{355,129}}</string>
                <key>offset</key>
                <string>{-46,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{355,129}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,759},{119,125}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,17},{119,125}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{349,147}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{349,147}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,151},{299,141}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,17},{299,141}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,361},{245,163}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{245,163}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,608},{173,149}}</string>
                <key>offset</key>
                <string>{40,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,8},{173,149}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,866},{133,149}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,16},{133,149}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{319,145}}</string>
                <key>offset</key>
                <string>{-62,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{319,145}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,2},{357,139}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{357,139}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{355,127}}</string>
                <key>offset</key>
                <string>{-46,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{355,127}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,288},{345,121}}</string>
                <key>offset</key>
                <string>{-51,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{345,121}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,411},{255,129}}</string>
                <key>offset</key>
                <string>{-46,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,13},{255,129}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,759},{129,123}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,19},{129,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{183,123}}</string>
                <key>offset</key>
                <string>{29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,19},{183,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{175,123}}</string>
                <key>offset</key>
                <string>{29,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,19},{175,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,898},{159,123}}</string>
                <key>offset</key>
                <string>{32,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,19},{159,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{141,123}}</string>
                <key>offset</key>
                <string>{22,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,19},{141,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,898},{131,123}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,19},{131,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
            <key>pirateAttack3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,890},{121,123}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,19},{121,123}}</string>
                <key>sourceSize</key>
                <string>{359,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pirateAttack3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f975d52615a75a24706cb8e825294760$</string>
            <key>textureFileName</key>
            <string>pirateAttack3.png</string>
        </dict>
    </dict>
</plist>
